// VARIABLES
$darkBlue:#00001a;
$lightBlue:#1d1c32;
$lightRed:#f15d51;
$textColor:hsl(236, 13%, 42%);
$desktop:900px;


// MIXINS
@mixin desktop {
    @media screen and (min-width:$desktop) {
        @content;
    }
}

@mixin flex-spaceBetween {
    display: flex;
    justify-content: space-between;
}
