.hero{
    margin-block: 4rem;

    &__desc{
        margin-block: 2rem;
        @include desktop{
            max-width: 50ch;
        }
        &-box{
            @include desktop{
                display: flex;
            }
        }
    }
    
  &__imgBox{
    height: 400px;
    margin-bottom: 4rem;
     width: 100%;
     
  }

    &__image{
     background-image: url(/src/images/image-web-3-mobile.jpg);
     height:100%;
     width: inherit;
     background-repeat: no-repeat;
     @include desktop{
        background-image: url(/src/images/image-web-3-desktop.jpg);
        background-size: contain;
     }
    }

    &__btn{
        padding: 1.6rem 2rem;
        background-color: $lightRed;
        color: white;
        font-weight: 600;
        border: 0;
        font-size: 1.6rem;
        letter-spacing: 1.6px;
        cursor: pointer;
        transition: background 0.7s;
        &:hover{
            background-color: $darkBlue;
        }
    }

  
}