.nav {
    @include flex-spaceBetween;
    align-items: flex-end;
    position: relative;
    @include tablette{
        &__menuClose,&__list{
            position: absolute;
        }
        &__list{
         right: -2rem;
         background-color: white;
         height: 100vh;
         top: -3rem;
         width: 50%;
         padding: 10rem 2rem;
         li{
            margin-block: 2rem;
         }
        }

        &__menuClose{
            right: 1rem;
            top: 1.4rem;
            z-index: 99999;
        }
    }

    &__list,
    &__menuClose {
        display: none;
    }

    &__menuClose,
    &__menu,
    &__list-link {
        cursor: pointer;
    }

    &__list-link {
        margin-inline: 1rem;
        font-size: 1.6rem;
        text-transform: capitalize;
        color: $textColor;
        transition: color .5s;
        &:hover{
            color: #ccc;
        }
    }

    @include desktop {
        &__menu,&__menuClose {
            display: none !important;
        }

        &__list {
            display: inherit;

            &-link {
                margin-inline: 1rem;
            }
        }

      grid-area: 1/1/1/4;
    }
}


.show{
  display: block;
  @include desktop{
    display: flex;
  }
}

.hide{
    display: none ;
}