@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import './partials/general';
@import './partials/reset';
@import './partials/typography';
@import './partials/nav';
@import './partials/hero';
@import './partials/news';
@import './partials/features';

#root{
    padding: 3rem 2rem;
    @include desktop{
        padding: 5rem;
    }
}

body{
    height: 150vh;
}
@include tablette{
    
    .bg-black{
        background-color: rgb(181, 175, 175);
    }

}    
