@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2.8rem;
  color: #00001a;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.6rem;
  color: #5d5f79;
  word-spacing: 1.1px;
  letter-spacing: 0.4px;
  line-height: 1.4;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4.8rem;
    max-width: 10ch;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.7rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media screen and (max-width: 900px) {
  .nav__menuClose, .nav__list {
    position: absolute;
  }
  .nav__list {
    right: -2rem;
    background-color: white;
    height: 100vh;
    top: -3rem;
    width: 50%;
    padding: 10rem 2rem;
  }
  .nav__list li {
    margin-block: 2rem;
  }
  .nav__menuClose {
    right: 1rem;
    top: 1.4rem;
    z-index: 99999;
  }
}

.nav__list, .nav__menuClose {
  display: none;
}

.nav__menuClose, .nav__menu, .nav__list-link {
  cursor: pointer;
}

.nav__list-link {
  margin-inline: 1rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #5d5f79;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.nav__list-link:hover {
  color: #ccc;
}

@media screen and (min-width: 900px) {
  .nav__menu, .nav__menuClose {
    display: none !important;
  }
  .nav__list {
    display: inherit;
  }
  .nav__list-link {
    margin-inline: 1rem;
  }
}

.show {
  display: block;
}

@media screen and (min-width: 900px) {
  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hide {
  display: none;
}

.hero {
  margin-block: 4rem;
}

.hero__desc {
  margin-block: 2rem;
}

@media screen and (min-width: 900px) {
  .hero__desc {
    max-width: 50ch;
  }
}

@media screen and (min-width: 900px) {
  .hero__desc-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__imgBox {
  height: 400px;
  margin-bottom: 4rem;
  width: 100%;
}

.hero__image {
  background-image: url(/src/images/image-web-3-mobile.jpg);
  height: 100%;
  width: inherit;
  background-repeat: no-repeat;
}

@media screen and (min-width: 900px) {
  .hero__image {
    background-image: url(/src/images/image-web-3-desktop.jpg);
    background-size: contain;
  }
}

.hero__btn {
  padding: 1.6rem 2rem;
  background-color: #f15d51;
  color: white;
  font-weight: 600;
  border: 0;
  font-size: 1.6rem;
  letter-spacing: 1.6px;
  cursor: pointer;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

.hero__btn:hover {
  background-color: #00001a;
}

.news {
  background-color: #00001a;
  padding: 2rem 2rem 0;
}

.news__title {
  color: white;
  margin-block: 1rem;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.news__title:hover {
  color: #eda217;
}

.news__text {
  border-bottom: 1px solid rgba(179, 179, 179, 0.341);
  padding-bottom: 2rem;
}

#root {
  padding: 3rem 2rem;
}

@media screen and (min-width: 900px) {
  #root {
    padding: 5rem;
  }
}

body {
  height: 150vh;
}

@media screen and (max-width: 900px) {
  .bg-black {
    background-color: #b5afaf;
  }
}
/*# sourceMappingURL=main.css.map */